datafactory01/pipelines/COMMON/FETCH_AKV_SECRET.json
{
    "name": "FETCH_AKV_SECRET",
    "properties": {
        "activities": [
            {
                "name": "FETCH_AKV_SECRET",
                "description": "",
                "type": "WebActivity",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.00:10:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": true,
                    "secureInput": true
                },
                "userProperties": [],
                "typeProperties": {
                    "method": "GET",
                    "url": {
                        "value": "@concat('https://wade-', split(pipeline().DataFactory, '-')[1], '-kv-', split(pipeline().DataFactory, '-')[3], '.vault.azure.net/secrets/', pipeline().parameters.secret_name, '?api-version=7.0')",
                        "type": "Expression"
                    },
                    "authentication": {
                        "type": "MSI",
                        "resource": "https://vault.azure.net"
                    }
                }
            },
            {
                "name": "RETURN",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "FETCH_AKV_SECRET",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "pipelineReturnValue",
                    "value": [
                        {
                            "key": "secret_value",
                            "value": {
                                "type": "Expression",
                                "content": "@activity('FETCH_AKV_SECRET').output.value"
                            }
                        }
                    ],
                    "setSystemVariable": true
                }
            }
        ],
        "parameters": {
            "secret_name": {
                "type": "string"
            }
        },
        "folder": {
            "name": "COMMON"
        },
        "annotations": [],
        "lastPublishTime": "2023-11-24T10:36:59Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}