datafactory02/pipelines/ORCHESTRATION/START_JOB.json
{
    "name": "START_JOB",
    "properties": {
        "activities": [
            {
                "name": "AQUIRE_TOKEN",
                "type": "ExecutePipeline",
                "dependsOn": [],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "AQUIRE_TOKEN",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true
                }
            },
            {
                "name": "GET_ENVIRONMENT_INFO",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "AQUIRE_TOKEN",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": true
                },
                "userProperties": [],
                "typeProperties": {
                    "method": "GET",
                    "headers": {
                        "Authorization": {
                            "value": "@concat('Bearer ', activity('AQUIRE_TOKEN').output.pipelineReturnValue.access_token)",
                            "type": "Expression"
                        }
                    },
                    "url": {
                        "value": "@concat(pipeline().globalParameters.ORCHESTRATION_BASE_URL, '/me/environment')",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "START_JOB_EXECUTION",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "GET_ENVIRONMENT_INFO",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "method": "POST",
                    "headers": {
                        "Authorization": {
                            "value": "@concat('Bearer ', activity('AQUIRE_TOKEN').output.pipelineReturnValue.access_token)",
                            "type": "Expression"
                        }
                    },
                    "httpRequestTimeout": "00:10:00",
                    "url": {
                        "value": "@concat(pipeline().globalParameters.ORCHESTRATION_BASE_URL, '/environments/', activity('GET_ENVIRONMENT_INFO').output.environment_id, '/job_execution/start?job_name=', pipeline().parameters.job_name, '&job_execution_type=', pipeline().parameters.job_execution_type, '&job_task_group_name=', pipeline().parameters.job_task_group_name, '&job_task_name=', pipeline().parameters.job_task_name, '&job_step_type_name=', pipeline().parameters.job_step_type_name)",
                        "type": "Expression"
                    },
                    "body": {
                        "value": "{}",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "UNTIL_NO_BATCH",
                "type": "Until",
                "dependsOn": [
                    {
                        "activity": "START_JOB_EXECUTION",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@equals(variables('is_done'), true)",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "SET_BATCH",
                            "type": "SetVariable",
                            "dependsOn": [
                                {
                                    "activity": "GET_EXECUTION_BATCH",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "variableName": "batch",
                                "value": {
                                    "value": "@json(activity('GET_EXECUTION_BATCH').output.Response)",
                                    "type": "Expression"
                                }
                            }
                        },
                        {
                            "name": "GET_EXECUTION_BATCH",
                            "type": "WebActivity",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "method": "PUT",
                                "headers": {
                                    "Authorization": {
                                        "value": "@concat('Bearer ', activity('AQUIRE_TOKEN').output.pipelineReturnValue.access_token)",
                                        "type": "Expression"
                                    }
                                },
                                "url": {
                                    "value": "@concat(pipeline().globalParameters.ORCHESTRATION_BASE_URL, '/environments/', activity('GET_ENVIRONMENT_INFO').output.environment_id, '/job_execution/', activity('START_JOB_EXECUTION').output.execution_id,'/next')",
                                    "type": "Expression"
                                },
                                "body": {
                                    "value": "{}",
                                    "type": "Expression"
                                }
                            }
                        },
                        {
                            "name": "SHOULD_STOP",
                            "type": "IfCondition",
                            "dependsOn": [
                                {
                                    "activity": "SET_BATCH",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "userProperties": [],
                            "typeProperties": {
                                "expression": {
                                    "value": "@equals(length(variables('batch')), 0)",
                                    "type": "Expression"
                                },
                                "ifFalseActivities": [
                                    {
                                        "name": "JOB_MANAGER",
                                        "type": "ExecutePipeline",
                                        "dependsOn": [],
                                        "policy": {
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "pipeline": {
                                                "referenceName": "JOB_MANAGER",
                                                "type": "PipelineReference"
                                            },
                                            "waitOnCompletion": true,
                                            "parameters": {
                                                "execution_id": {
                                                    "value": "@activity('START_JOB_EXECUTION').output.execution_id",
                                                    "type": "Expression"
                                                },
                                                "access_token": {
                                                    "value": "@activity('AQUIRE_TOKEN').output.pipelineReturnValue.access_token",
                                                    "type": "Expression"
                                                },
                                                "environment_id": {
                                                    "value": "@activity('GET_ENVIRONMENT_INFO').output.environment_id",
                                                    "type": "Expression"
                                                },
                                                "from_date": {
                                                    "value": "@pipeline().parameters.from_date",
                                                    "type": "Expression"
                                                },
                                                "to_date": {
                                                    "value": "@pipeline().parameters.to_date",
                                                    "type": "Expression"
                                                },
                                                "batch": {
                                                    "value": "@variables('batch')",
                                                    "type": "Expression"
                                                }
                                            }
                                        }
                                    }
                                ],
                                "ifTrueActivities": [
                                    {
                                        "name": "SET_IS_DONE",
                                        "type": "SetVariable",
                                        "dependsOn": [],
                                        "policy": {
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "variableName": "is_done",
                                            "value": {
                                                "value": "@bool(true)",
                                                "type": "Expression"
                                            }
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "name": "HAS_FAILED",
                            "type": "SetVariable",
                            "dependsOn": [
                                {
                                    "activity": "GET_EXECUTION_BATCH",
                                    "dependencyConditions": [
                                        "Failed"
                                    ]
                                }
                            ],
                            "policy": {
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "variableName": "is_done",
                                "value": true
                            }
                        }
                    ],
                    "timeout": "0.12:00:00"
                }
            }
        ],
        "parameters": {
            "job_name": {
                "type": "string"
            },
            "from_date": {
                "type": "string"
            },
            "to_date": {
                "type": "string"
            },
            "job_step_type_name": {
                "type": "string"
            },
            "job_task_group_name": {
                "type": "string"
            },
            "job_task_name": {
                "type": "string"
            },
            "job_execution_type": {
                "type": "string",
                "defaultValue": "Job"
            }
        },
        "variables": {
            "batch": {
                "type": "Array"
            },
            "is_done": {
                "type": "Boolean",
                "defaultValue": false
            }
        },
        "folder": {
            "name": "ORCHESTRATION"
        },
        "annotations": [],
        "lastPublishTime": "2023-12-06T09:28:17Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}