datafactory01/pipelines/ORCHESTRATION/CUSTOM_PLUGIN_STORED_PROC.json
{
    "name": "CUSTOM_PLUGIN_STORED_PROC",
    "properties": {
        "activities": [
            {
                "name": "LOG_START",
                "type": "WebActivity",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "method": "PUT",
                    "headers": {
                        "Authorization": {
                            "value": "@concat('Bearer ', pipeline().parameters.access_token)",
                            "type": "Expression"
                        }
                    },
                    "url": {
                        "value": "@concat(pipeline().globalParameters.ORCHESTRATION_BASE_URL, '/environments/', pipeline().parameters.payload.environment_id, '/job_execution/', pipeline().parameters.payload.job_execution_id, '/job_task/', pipeline().parameters.payload.job_execution_queue_id,'/start')",
                        "type": "Expression"
                    },
                    "body": {
                        "value": "{}",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "LOG_END",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "CHECK_SP_TYPE",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "method": "PUT",
                    "headers": {
                        "Authorization": {
                            "value": "@concat('Bearer ', pipeline().parameters.access_token)",
                            "type": "Expression"
                        }
                    },
                    "url": {
                        "value": "@concat(pipeline().globalParameters.ORCHESTRATION_BASE_URL, '/environments/', pipeline().parameters.payload.environment_id, '/job_execution/', pipeline().parameters.payload.job_execution_id, '/job_task/', pipeline().parameters.payload.job_execution_queue_id,'/end')",
                        "type": "Expression"
                    },
                    "body": {
                        "value": "{}",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "LOG_FAIL",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "CHECK_SP_TYPE",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "method": "PUT",
                    "headers": {
                        "Authorization": {
                            "value": "@concat('Bearer ', pipeline().parameters.access_token)",
                            "type": "Expression"
                        }
                    },
                    "url": {
                        "value": "@concat(pipeline().globalParameters.ORCHESTRATION_BASE_URL, '/environments/', pipeline().parameters.payload.environment_id, '/job_execution/', pipeline().parameters.payload.job_execution_id, '/job_task/', pipeline().parameters.payload.job_execution_queue_id,'/fail')",
                        "type": "Expression"
                    },
                    "body": {
                        "value": "{}",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "CHECK_SP_TYPE",
                "type": "Switch",
                "dependsOn": [
                    {
                        "activity": "LOG_START",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "on": {
                        "value": "@pipeline().parameters.payload.payload.stored_procedure_schema",
                        "type": "Expression"
                    },
                    "cases": [
                        {
                            "value": "dw_quality_test",
                            "activities": [
                                {
                                    "name": "SET_DQ_TEST_RESULTS",
                                    "type": "SetVariable",
                                    "dependsOn": [
                                        {
                                            "activity": "EXECUTE_DQ_TEST",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "policy": {
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "variableName": "DQ_TEST_RESULT",
                                        "value": {
                                            "value": "@activity('EXECUTE_DQ_TEST').output.value",
                                            "type": "Expression"
                                        }
                                    }
                                },
                                {
                                    "name": "EXECUTE_DQ_TEST",
                                    "type": "Lookup",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "source": {
                                            "type": "SqlDWSource",
                                            "sqlReaderStoredProcedureName": {
                                                "value": "@concat(pipeline().parameters.payload.payload.stored_procedure_schema, '.', pipeline().parameters.payload.payload.stored_procedure_name)",
                                                "type": "Expression"
                                            },
                                            "storedProcedureParameters": {
                                                "adf_pipeline_run_id": {
                                                    "value": {
                                                        "value": "@pipeline().RunId",
                                                        "type": "Expression"
                                                    }
                                                }
                                            },
                                            "queryTimeout": "02:00:00",
                                            "partitionOption": "None"
                                        },
                                        "dataset": {
                                            "referenceName": "AzureSynapseAnalytics",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "schema": "N/A",
                                                "table": "N/A",
                                                "db_name": {
                                                    "value": "@pipeline().parameters.payload.payload.dw_name",
                                                    "type": "Expression"
                                                }
                                            }
                                        },
                                        "firstRowOnly": false
                                    }
                                },
                                {
                                    "name": "WRITE_DQ_RESULTS",
                                    "type": "WebActivity",
                                    "dependsOn": [
                                        {
                                            "activity": "SET_DQ_TEST_RESULTS",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "method": "POST",
                                        "headers": {
                                            "Authorization": {
                                                "value": "@concat('Bearer ', pipeline().parameters.access_token)",
                                                "type": "Expression"
                                            }
                                        },
                                        "url": {
                                            "value": "@concat(pipeline().globalParameters.ORCHESTRATION_BASE_URL, '/environments/', pipeline().parameters.payload.environment_id, '/data_quality/', if(contains(pipeline().parameters.payload.payload.stored_procedure_name, 'rdv'), 'raw_data_vault', 'data_mart'))",
                                            "type": "Expression"
                                        },
                                        "body": {
                                            "value": "@variables('DQ_TEST_RESULT')",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ]
                        }
                    ],
                    "defaultActivities": [
                        {
                            "name": "EXECUTE_CUSTOM_PLUGIN",
                            "type": "Lookup",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "SqlDWSource",
                                    "sqlReaderStoredProcedureName": {
                                        "value": "@concat(pipeline().parameters.payload.payload.stored_procedure_schema, '.', pipeline().parameters.payload.payload.stored_procedure_name)",
                                        "type": "Expression"
                                    },
                                    "storedProcedureParameters": {
                                        "value": "@pipeline().parameters.payload.payload.additional_properties_adf",
                                        "type": "Expression"
                                    },
                                    "queryTimeout": "02:00:00",
                                    "partitionOption": "None"
                                },
                                "dataset": {
                                    "referenceName": "AzureSynapseAnalytics",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "schema": "N/A",
                                        "table": "N/A",
                                        "db_name": {
                                            "value": "@pipeline().parameters.payload.payload.dw_name",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            }
                        }
                    ]
                }
            }
        ],
        "parameters": {
            "access_token": {
                "type": "string"
            },
            "payload": {
                "type": "object"
            },
            "from_date": {
                "type": "string"
            },
            "to_date": {
                "type": "string"
            }
        },
        "variables": {
            "DQ_TEST_RESULT": {
                "type": "Array"
            }
        },
        "folder": {
            "name": "ORCHESTRATION/JOB_STEP_EXECUTORS"
        },
        "annotations": [],
        "lastPublishTime": "2023-11-28T15:20:55Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}